/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/helpers/_placeholders.scss */
.navbar, .swiper-slide, .wrapper, .content, .content__hero--inner, .divider, .title, .icon, .social__team--icons, .pricing__tables, .pricing__item > ul > :last-child, .pricing__item--basic > ul > :last-child, .pricing__item--gold > ul > :last-child, .pricing__item--gold-recommended > ul > :last-child, .pricing__item--silver > ul > :last-child, .portfolio__swiper-navigation, .content__project, .btn, .btn__inverted, .icons__circle--base, .icons__circle--small, .icons__circle--large, .logo-mini, .logo-mini:hover, .team__column--picture, .stats__column:hover .icons__circle--large, .service__column:hover .icons__circle--small, .references__picture, .wrapper__pricing, .content__about--inner, .content__about--inner-left, .team__columns, .stats__columns, .title > h3, .content__about--inner-right, .portfolio__swiper-pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 9, ../sass/helpers/_placeholders.scss */
.wrapper__pricing, .content__about--inner, .content__about--inner-right, .pricing__tables {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 19, ../sass/helpers/_placeholders.scss */
.swiper-slide, .wrapper__quote, .content__hero--inner, .portfolio__swiper-pagination, .portfolio__swiper-navigation, .content__project {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 26, ../sass/helpers/_placeholders.scss */
.portfolio__swiper-pagination {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

/* line 29, ../sass/helpers/_placeholders.scss */
.title > h3, .project__columns {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

/* line 32, ../sass/helpers/_placeholders.scss */
.navbar, .swiper-slide, .wrapper, .content, .content__hero--inner, .divider, .title, .icon, .social__team--icons, .pricing__tables, .pricing__item > ul > :last-child, .pricing__item--basic > ul > :last-child, .pricing__item--gold > ul > :last-child, .pricing__item--gold-recommended > ul > :last-child, .pricing__item--silver > ul > :last-child, .portfolio__swiper-navigation, .content__project, .btn, .btn__inverted, .icons__circle--base, .icons__circle--small, .icons__circle--large, .logo-mini, .logo-mini:hover, .team__column--picture, .stats__column:hover .icons__circle--large, .service__column:hover .icons__circle--small, .references__picture, .wrapper__pricing, .content__about--inner, .content__about--inner-left, .team__columns, .stats__columns {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/* line 39, ../sass/helpers/_placeholders.scss */
.content__about--inner-left, .portfolio__swiper-pagination {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

/* line 42, ../sass/helpers/_placeholders.scss */
.navbar, .swiper-slide, .wrapper, .content, .content__hero--inner, .divider, .title, .icon, .social__team--icons, .pricing__tables, .pricing__item > ul > :last-child, .pricing__item--basic > ul > :last-child, .pricing__item--gold > ul > :last-child, .pricing__item--gold-recommended > ul > :last-child, .pricing__item--silver > ul > :last-child, .portfolio__swiper-navigation, .content__project, .btn, .btn__inverted, .icons__circle--base, .icons__circle--small, .icons__circle--large, .logo-mini, .logo-mini:hover, .team__column--picture, .stats__column:hover .icons__circle--large, .service__column:hover .icons__circle--small, .references__picture, .title > h3 {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* line 63, ../sass/helpers/_placeholders.scss */
.title {
  text-transform: uppercase;
  margin-bottom: 9.0625rem;
}
/* line 66, ../sass/helpers/_placeholders.scss */
.title > p {
  padding-left: 0.9375rem;
  line-height: 1.625rem;
  max-width: 55.625rem;
}
/* line 71, ../sass/helpers/_placeholders.scss */
.title > h3 {
  padding-right: 1.25rem;
  min-width: 11.5625rem;
}

/* line 77, ../sass/helpers/_placeholders.scss */
.icon-lab, .icon-star, .icon-world {
  margin: 2.1em;
}

/* line 80, ../sass/helpers/_placeholders.scss */
.icon-banknote {
  margin: 2.75em;
}

/* line 83, ../sass/helpers/_placeholders.scss */
.icon-cup, .icon-like, .icon-stack, .icon-user {
  margin: 4.1em;
}

/* line 87, ../sass/helpers/_placeholders.scss */
.main__swiper-container, .references__swiper-container {
  width: 100%;
  height: 100%;
}

@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
/* Layouts*/
/* line 1, ../sass/base/_base.scss */
body {
  font-size: 1rem;
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  color: #737373;
}

/* line 7, ../sass/base/_base.scss */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 13, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 18, ../sass/base/_base.scss */
h1 {
  text-transform: uppercase;
}

/* line 18, ../sass/base/_base.scss */
h2 {
  text-transform: uppercase;
}

/* line 18, ../sass/base/_base.scss */
h3 {
  text-transform: uppercase;
}

/* line 18, ../sass/base/_base.scss */
h4 {
  text-transform: uppercase;
}

/* line 18, ../sass/base/_base.scss */
h5 {
  text-transform: uppercase;
}

/* line 18, ../sass/base/_base.scss */
h6 {
  text-transform: uppercase;
}

/* line 24, ../sass/base/_base.scss */
h1 {
  font-weight: 300;
  color: #fff;
  line-height: 6.875rem;
}

/* line 24, ../sass/base/_base.scss */
h2 {
  font-weight: 300;
  color: #fff;
  line-height: 6.875rem;
}

/* line 31, ../sass/base/_base.scss */
h1 {
  font-size: 2.8125rem;
  letter-spacing: -1px;
}

/* line 36, ../sass/base/_base.scss */
h2 {
  padding-bottom: 3.4375rem;
  font-size: 2.5rem;
  letter-spacing: -2px;
}

/* line 43, ../sass/base/_base.scss */
h3 {
  color: #0d0d0d;
}

/* line 43, ../sass/base/_base.scss */
h4 {
  color: #0d0d0d;
}

/* line 43, ../sass/base/_base.scss */
h5 {
  color: #0d0d0d;
}

/* line 43, ../sass/base/_base.scss */
h6 {
  color: #0d0d0d;
}

/* line 48, ../sass/base/_base.scss */
h3 {
  font-weight: 700;
}

/* line 48, ../sass/base/_base.scss */
h4 {
  font-weight: 700;
}

/* line 52, ../sass/base/_base.scss */
h3 {
  font-size: 1.875rem;
  line-height: 1.5em;
  border-right: 4px solid #f39c12;
}

/* line 58, ../sass/base/_base.scss */
h4 {
  font-size: 1.25rem;
  line-height: 1rem;
}

/* line 62, ../sass/base/_base.scss */
h5 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1em;
  padding-bottom: 0.6875rem;
}

/* line 68, ../sass/base/_base.scss */
h6 {
  font-size: 0.9375rem;
  font-weight: 700;
}

/* line 1, ../sass/components/_btn.scss */
.btn--animated {
  box-shadow: inset 0 0 0 2px transparent;
  color: transparent;
  transition: color 0.25s 0.08333s;
  position: relative;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  transition: all 1s ease 0s;
}
/* line 144, ../sass/helpers/_mixins.scss */
.btn--animated::before, .btn--animated::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}
/* line 156, ../sass/helpers/_mixins.scss */
.btn--animated::before {
  border-bottom-width: 2px;
  border-right-width: 2px;
}
/* line 163, ../sass/helpers/_mixins.scss */
.btn--animated::after {
  border-top-width: 2px;
  border-left-width: 2px;
}
/* line 170, ../sass/helpers/_mixins.scss */
.btn--animated:hover {
  color: #f39c12;
  background: none;
}
/* line 174, ../sass/helpers/_mixins.scss */
.btn--animated:hover::before, .btn--animated:hover::after {
  border-color: #f39c12;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
/* line 183, ../sass/helpers/_mixins.scss */
.btn--animated:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
/* line 187, ../sass/helpers/_mixins.scss */
.btn--animated:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/* line 5, ../sass/components/_btn.scss */
.btn {
  padding: 0.75em 2.4em;
  font-size: 14px;
  color: #ffffff;
  background-color: #f39c12;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  border: solid 1px #f39c12;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
/* line 11, ../sass/components/_btn.scss */
.btn:hover {
  color: #f39c12;
  background-color: transparent;
  border: solid 1px #f39c12;
}
/* line 17, ../sass/components/_btn.scss */
.btn__inverted {
  padding: 0.7em 2.4em;
  font-size: 13px;
  color: #0d0d0d;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: solid 2px #f39c12;
}
/* line 22, ../sass/components/_btn.scss */
.btn__inverted:hover {
  color: #ffffff;
  background-color: #f39c12;
}

/* line 1, ../sass/components/_carousel.scss */
.swiper-wrapper {
  z-index: 0;
}

/* line 4, ../sass/components/_carousel.scss */
.swiper-pagination-white > .swiper-pagination-bullet {
  background-color: #fff;
}

/* line 11, ../sass/components/_carousel.scss */
.main__swiper-container > .swiper-pagination-bullets {
  bottom: 1rem;
  left: 2.1rem;
}
/* line 14, ../sass/components/_carousel.scss */
.main__swiper-container > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
  width: 12px;
  height: 12px;
}

/* line 24, ../sass/components/_carousel.scss */
.references__swiper-container > .swiper-pagination-bullets {
  bottom: 11.875rem;
  left: 2rem;
}
/* line 27, ../sass/components/_carousel.scss */
.references__swiper-container > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
  width: 11px;
  height: 11px;
}

/* line 36, ../sass/components/_carousel.scss */
.portfolio__swiper-container {
  overflow: hidden;
  height: 36.25rem;
  width: 73rem;
  margin: 0 0 3.125rem 4.0625rem;
}
/* line 41, ../sass/components/_carousel.scss */
.portfolio__swiper-container > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 3px 0;
  width: 15px;
  height: 15px;
}
/* line 47, ../sass/components/_carousel.scss */
.portfolio__swiper-pagination {
  position: static;
  height: 68.5vh;
  margin-right: 1.1rem;
}
/* line 53, ../sass/components/_carousel.scss */
.portfolio__swiper-slide.swiper-slide.swiper-slide > img {
  height: 36.25rem;
  width: 73.125rem;
}
/* line 57, ../sass/components/_carousel.scss */
.portfolio__swiper-slide.swiper-slide.swiper-slide-active {
  z-index: 1;
}
/* line 59, ../sass/components/_carousel.scss */
.portfolio__swiper-slide.swiper-slide.swiper-slide-active > img {
  height: 36.25rem;
  width: 73.125rem;
}

/* line 7, ../sass/components/_icons.scss */
.icons__circle--base {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 120px;
  width: 120px;
  height: 120px;
  border: 2px #f39c12;
  border-style: solid;
  background-color: transparent;
}
/* line 10, ../sass/components/_icons.scss */
.icons__circle--small {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border: 2px #f39c12;
  border-style: solid;
  background-color: transparent;
  margin: 0 auto;
}
/* line 14, ../sass/components/_icons.scss */
.icons__circle--large {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 165px;
  width: 165px;
  height: 165px;
  border: 2px #f39c12;
  border-style: solid;
  background-color: transparent;
  margin: 0 auto;
}
/* line 18, ../sass/components/_icons.scss */
.icons__about {
  margin-right: 30px;
}

/* line 24, ../sass/components/_icons.scss */
.icon-banknote {
  background: url("../img/icon/SVG/banknote.svg");
  background-repeat: no-repeat;
  background-size: 1.95em;
  height: 1.95em;
  width: 1.95em;
}
/* line 28, ../sass/components/_icons.scss */
.icon-bulb {
  background: url("../img/icon/SVG/bulb.svg");
  background-repeat: no-repeat;
  background-size: 2.5em;
  height: 2.5em;
  width: 2.5em;
}
/* line 31, ../sass/components/_icons.scss */
.icon-cup {
  background: url("../img/icon/SVG/cup.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 35, ../sass/components/_icons.scss */
.icon-lab {
  background: url("../img/icon/SVG/lab.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 39, ../sass/components/_icons.scss */
.icon-like {
  background: url("../img/icon/SVG/like.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 43, ../sass/components/_icons.scss */
.icon-params {
  background: url("../img/icon/SVG/params.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 46, ../sass/components/_icons.scss */
.icon-stack {
  background: url("../img/icon/SVG/stack.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 50, ../sass/components/_icons.scss */
.icon-star {
  background: url("../img/icon/SVG/star.svg");
  background-repeat: no-repeat;
  background-size: 1.65em;
  height: 1.65em;
  width: 1.65em;
}
/* line 54, ../sass/components/_icons.scss */
.icon-user {
  background: url("../img/icon/SVG/user.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2em;
  width: 2em;
}
/* line 58, ../sass/components/_icons.scss */
.icon-world {
  background: url("../img/icon/SVG/world.svg");
  background-repeat: no-repeat;
  background-size: 1.9em;
  height: 1.9em;
  width: 1.9em;
}

/* line 1, ../sass/components/_logo.scss */
.logo-mini {
  /*--- circle($size, $border, $color) ---*/
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 9.0625rem;
  width: 9.0625rem;
  height: 9.0625rem;
  border: 2px #ffffff;
  border-style: solid;
  background-color: transparent;
  font-size: 2.8125rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}
/* line 7, ../sass/components/_logo.scss */
.logo-mini:hover {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 9.0625rem;
  width: 9.0625rem;
  height: 9.0625rem;
  border: 2px #0d0d0d;
  border-style: solid;
  background-color: transparent;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  color: #0d0d0d;
}

/* line 2, ../sass/components/_progressbar.scss */
.progressbar {
  width: 100%;
  height: 0.625em;
  background: #e6e6e6;
  overflow: hidden;
}
/* line 8, ../sass/components/_progressbar.scss */
.progressbar div {
  height: 0.625em;
}

/* line 1, ../sass/components/_section.scss */
section {
  background-color: #ffffff;
  position: relative;
}

/* line 9, ../sass/components/_section.scss */
.section__about:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,95 100,95 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: -5.9375rem;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 9, ../sass/components/_section.scss */
.section__team:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,95 100,95 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: -5.9375rem;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 9, ../sass/components/_section.scss */
.section__service:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,95 100,95 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: -5.9375rem;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 9, ../sass/components/_section.scss */
.section__portfolio:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,95 100,95 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: -5.9375rem;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 17, ../sass/components/_section.scss */
.section__quote:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,95'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 17, ../sass/components/_section.scss */
.section__stats:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,95'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 17, ../sass/components/_section.scss */
.section__references:before {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 95' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,95'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5.9375rem;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 23, ../sass/components/_section.scss */
.section__quote {
  padding-left: 3em;
  margin-bottom: 1px;
  background: url(../img/bg__section-01.jpg) center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 29, ../sass/components/_section.scss */
.section__stats {
  padding-left: 4.0625rem;
  margin-bottom: 1px;
  background: url(../img/bg__section-02.jpg) center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 35, ../sass/components/_section.scss */
.section__references {
  padding-left: 4.0625rem;
  margin-bottom: 1px;
  background: url(../img/bg__section-03.jpg) center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

/*---Divider---*/
/* line 44, ../sass/components/_section.scss */
.divider {
  margin-left: 4.375rem;
}
/* line 46, ../sass/components/_section.scss */
.divider--grey {
  background-color: #e6e6e6;
  height: 2px;
  width: 73.125rem;
  border: none;
}

/* line 3, ../sass/components/_iphone-8.scss */
.device-iphone-8 {
  margin-right: -2.1875rem;
  height: 20.9375rem;
  width: 10rem;
  position: relative;
  z-index: 50;
}
/* line 10, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-frame {
  background: #fff;
  border-radius: 1.4375rem;
  box-shadow: inset 0 0 0 1px #c8cacb, inset 0 0 0 3px #e2e3e4;
  padding: 3.5rem 0.6875rem 1.875rem 0.6875rem;
}
/* line 17, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-content {
  border: 2px solid #222;
  border-radius: 4px;
  height: 14.9em;
  width: 8.3em;
}
/* line 25, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-stripe::after, .device-iphone-8 .device-stripe::before {
  border: solid rgba(51, 51, 51, 0.15);
  border-width: 0 3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 96.5%;
  z-index: 9;
}
/* line 36, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-stripe::after {
  top: 2.5rem;
}
/* line 39, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-stripe::before {
  bottom: 1.5625rem;
}
/* line 45, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-header {
  border: 1px solid #c8cacb;
  border-radius: 50%;
  bottom: 0.625rem;
  height: 1.25rem;
  left: 50%;
  margin-left: -0.625rem;
  position: absolute;
  width: 1.25rem;
}
/* line 56, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-sensors {
  background: #666;
  border-radius: 3px;
  height: 3px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 2.1875rem;
  width: 1.875rem;
}
/* line 66, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-sensors::after, .device-iphone-8 .device-sensors::before {
  background: #666;
  border-radius: 50%;
  content: "";
  position: absolute;
}
/* line 73, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-sensors::after {
  height: 4px;
  left: 50%;
  margin-left: -2px;
  top: -0.9375rem;
  width: 4px;
}
/* line 80, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-sensors::before {
  height: 5px;
  left: -1.25rem;
  margin-top: -2px;
  top: 50%;
  width: 5px;
}
/* line 89, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-btns {
  background: #c8cacb;
  height: 0.9375rem;
  left: -1px;
  position: absolute;
  top: 3.75rem;
  width: 1px;
}
/* line 97, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-btns::after, .device-iphone-8 .device-btns::before {
  background: #c8cacb;
  content: "";
  height: 1.5625rem;
  left: 0;
  position: absolute;
  width: 1px;
}
/* line 107, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-btns::after {
  top: 1.875rem;
}
/* line 110, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-btns::before {
  top: 4.0625rem;
}
/* line 115, ../sass/components/_iphone-8.scss */
.device-iphone-8 .device-power {
  background: #c8cacb;
  height: 2.5rem;
  right: -1px;
  position: absolute;
  top: 5.3125rem;
  width: 1px;
}
/* line 126, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-gold .device-frame {
  box-shadow: inset 0 0 0 1px #e4b08a, inset 0 0 0 3px #f7e8dd;
}
/* line 130, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-gold .device-header {
  border-color: #e4b08a;
}
/* line 135, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-gold .device-btns, .device-iphone-8.device-gold .device-btns::after, .device-iphone-8.device-gold .device-btns::before {
  background: #e4b08a;
}
/* line 142, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-gold .device-power {
  background: #e4b08a;
}
/* line 149, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-spacegray .device-frame {
  background: #222;
  box-shadow: inset 0 0 0 1px #74747a, inset 0 0 0 3px #9b9ba0;
}
/* line 155, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-spacegray .device-stripe::after, .device-iphone-8.device-spacegray .device-stripe::before {
  border-color: rgba(204, 204, 204, 0.35);
}
/* line 162, ../sass/components/_iphone-8.scss */
.device-iphone-8.device-spacegray .device-btns, .device-iphone-8.device-spacegray .device-btns::after, .device-iphone-8.device-spacegray .device-btns::before {
  background: #74747a;
}

/* line 2, ../sass/components/_ipad-pro.scss */
.device-ipad-pro {
  margin-right: -7.8125rem;
  height: 30rem;
  width: 23.125rem;
  position: relative;
}
/* line 8, ../sass/components/_ipad-pro.scss */
.device-ipad-pro .device-frame {
  background: #fff;
  border-radius: 2.375rem;
  box-shadow: inset 0 0 0 1px #c8cacb, inset 0 0 0 3px #e2e3e4;
  padding: 2.5rem 2.375rem;
}
/* line 14, ../sass/components/_ipad-pro.scss */
.device-ipad-pro .device-content {
  border: 2px solid #222;
  border-radius: 2px;
  height: 24.6em;
  width: 18.1em;
}
/* line 22, ../sass/components/_ipad-pro.scss */
.device-ipad-pro .device-header {
  border: 1px solid #c8cacb;
  border-radius: 50%;
  bottom: 0.9375rem;
  height: 1.125rem;
  left: 50%;
  margin-left: -0.625rem;
  position: absolute;
  width: 1.125rem;
}
/* line 33, ../sass/components/_ipad-pro.scss */
.device-ipad-pro .device-sensors {
  background: #666;
  border-radius: 50%;
  height: 0.375rem;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 1.125rem;
  width: 0.375rem;
}
/* line 46, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-gold .device-frame {
  box-shadow: inset 0 0 0 1px #e4b08a, inset 0 0 0 3px #f7e8dd;
}
/* line 50, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-gold .device-header {
  border-color: #e4b08a;
}
/* line 57, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-rosegold .device-frame {
  box-shadow: inset 0 0 0 1px #f6a69a, inset 0 0 0 3px #facfc9;
}
/* line 61, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-rosegold .device-header {
  border-color: #f6a69a;
}
/* line 68, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-spacegray .device-frame {
  background: #222;
  box-shadow: inset 0 0 0 1px #74747a, inset 0 0 0 3px #9b9ba0;
}
/* line 73, ../sass/components/_ipad-pro.scss */
.device-ipad-pro.device-spacegray .device-header {
  border-color: #74747a;
}

/* line 1, ../sass/pages/_main.scss */
.main {
  padding: 5.3125rem 0 17rem 0;
  margin-bottom: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 6, ../sass/pages/_main.scss */
.main__swiper-container {
  height: 100%;
  width: 100%;
  background: center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 19, ../sass/pages/_main.scss */
.navbar {
  position: relative;
  z-index: 10;
}
/* line 23, ../sass/pages/_main.scss */
.navbar__items {
  padding-left: 13.75rem;
  font-weight: 600;
  font-size: 1.125rem;
}
/* line 29, ../sass/pages/_main.scss */
.navbar__items > span {
  padding: 0 2.0625rem;
}
/* line 35, ../sass/pages/_main.scss */
.navbar__link {
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  letter-spacing: -1px;
}
/* line 39, ../sass/pages/_main.scss */
.navbar__link-logo {
  padding-left: 4.0625rem;
}
/* line 43, ../sass/pages/_main.scss */
.navbar__link--is-active, .navbar__link:hover {
  color: #0d0d0d;
}

/*---Wrapper---*/
/* line 54, ../sass/pages/_main.scss */
.wrapper__main {
  position: relative;
  z-index: 5;
  padding-left: 4.0625rem;
}

/*---Content---*/
/* line 62, ../sass/pages/_main.scss */
.content {
  /*Content__Hero*/
}
/* line 64, ../sass/pages/_main.scss */
.content__hero {
  padding-top: 11.875rem;
  /* Hero__Content--inner */
}
/* line 69, ../sass/pages/_main.scss */
.content__hero--inner > p {
  padding-left: 1.875rem;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 2.1875rem;
  letter-spacing: -4px;
}

/*---Wrapper About ---*/
/* line 3, ../sass/pages/_about.scss */
.wrapper__about--part1 {
  padding-top: 6em;
  padding-bottom: 6.8em;
}
/* line 6, ../sass/pages/_about.scss */
.wrapper__about--part2 {
  padding-top: 7em;
  padding-bottom: 6.75em;
}

/*---Content About---*/
/* line 12, ../sass/pages/_about.scss */
.content__about--inner {
  margin-left: 4.1875rem;
}
/* line 15, ../sass/pages/_about.scss */
.content__about--inner-right {
  width: 45%;
  margin-left: 4.0625rem;
}
/* line 20, ../sass/pages/_about.scss */
.content__about--inner-left {
  width: 44.5%;
}
/* line 23, ../sass/pages/_about.scss */
.content__about--inner h4 {
  padding-bottom: 1.125rem;
}

/* line 29, ../sass/pages/_about.scss */
.about__text {
  max-width: 31.5625rem;
  padding-right: 3.75rem;
}
/* line 33, ../sass/pages/_about.scss */
.about__text--skills {
  max-width: 24.375rem;
}
/* line 38, ../sass/pages/_about.scss */
.about__text > p:nth-child(2) {
  line-height: 1.8125rem;
  font-weight: 300;
  font-size: 1.25rem;
  color: #e74c3c;
}
/* line 45, ../sass/pages/_about.scss */
.about__text > p:nth-last-child(1) {
  padding-top: 1.8125rem;
}
/* line 48, ../sass/pages/_about.scss */
.about__text > p:nth-last-child(1) > span {
  font-size: 0.9375rem;
}
/* line 55, ../sass/pages/_about.scss */
.about__picture {
  width: 28.125rem;
  height: 15.9375rem;
}
/* line 59, ../sass/pages/_about.scss */
.about__picture--devices {
  width: 31.0625rem;
  height: 30.25rem;
  padding-right: 5.9375rem;
}
/* line 67, ../sass/pages/_about.scss */
.about__progressbar {
  margin-top: 4em;
  width: 34.6875rem;
}

/* line 75, ../sass/pages/_about.scss */
.progressbar__design {
  padding-bottom: 2.6em;
}
/* line 238, ../sass/helpers/_mixins.scss */
.progressbar__design div.progressbar div {
  width: 88%;
  background: #f39c12;
}
/* line 79, ../sass/pages/_about.scss */
.progressbar__developement {
  padding-bottom: 2.6em;
}
/* line 238, ../sass/helpers/_mixins.scss */
.progressbar__developement div.progressbar div {
  width: 76%;
  background: #f39c12;
}
/* line 83, ../sass/pages/_about.scss */
.progressbar__wordpress {
  padding-bottom: 2.6em;
}
/* line 238, ../sass/helpers/_mixins.scss */
.progressbar__wordpress div.progressbar div {
  width: 81%;
  background: #f39c12;
}
/* line 87, ../sass/pages/_about.scss */
.progressbar__drupal {
  padding-bottom: 0;
}
/* line 238, ../sass/helpers/_mixins.scss */
.progressbar__drupal div.progressbar div {
  width: 71%;
  background: #f39c12;
}

/* line 92, ../sass/pages/_about.scss */
h5 span {
  font-weight: 400;
}

/* line 2, ../sass/pages/_quote.scss */
.wrapper__quote {
  padding-top: 15.15em;
  padding-bottom: 15.15em;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
}

/* line 10, ../sass/pages/_quote.scss */
.quote__text {
  position: relative;
  text-align: center;
  font-size: 2.8125rem;
  max-width: 60rem;
  line-height: 3.8rem;
}
/* line 17, ../sass/pages/_quote.scss */
.quote__text:before {
  font-size: 6.875rem;
  content: "\00201C";
  position: absolute;
  top: 1rem;
  left: -3.4375rem;
}
/* line 21, ../sass/pages/_quote.scss */
.quote__text:after {
  font-size: 6.875rem;
  content: "\00201D";
  position: absolute;
  top: 16px;
  right: -70px;
}
/* line 26, ../sass/pages/_quote.scss */
.quote__author {
  text-transform: uppercase;
  font-size: 1.5rem;
}
/* line 30, ../sass/pages/_quote.scss */
.quote__divider {
  height: 2px;
  width: 3.125rem;
  background-color: #f39c12;
  margin: 2rem 0 0.625rem 0;
  border: 1px solid transparent;
}

/* line 2, ../sass/pages/_team.scss */
.wrapper__team {
  padding-top: 6.3em;
  padding-bottom: 6.75em;
}

/* line 38, ../sass/helpers/_mixins.scss */
.team__columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4.25em;
  margin-top: 4.25em;
}
/* line 43, ../sass/helpers/_mixins.scss */
.team__columns__column {
  flex: 1 0 75em;
  margin-left: -4.25em;
  margin-top: -4.25em;
}
/* line 7, ../sass/pages/_team.scss */
.team__columns {
  text-align: center;
}
/* line 10, ../sass/pages/_team.scss */
.team__column {
  padding: 0 1.875rem;
  border-top: solid 4px transparent;
}
/* line 14, ../sass/pages/_team.scss */
.team__column:hover {
  background-color: #f0f0f0;
  border-top: solid 4px #f39c12;
}
/* line 17, ../sass/pages/_team.scss */
.team__column:hover .team__divider {
  height: 2px;
  width: 1.25rem;
  background-color: red;
}
/* line 20, ../sass/pages/_team.scss */
.team__column:hover .team__column--picture {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 24, ../sass/pages/_team.scss */
.team__column--picture {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
  transition: all 200ms ease-in-out;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 12.5rem;
  width: 12.5rem;
  height: 12.5rem;
  border: #e6e6e6 1px;
  border-style: solid;
  background-color: #e9e9e9;
  -moz-box-shadow: 0px 0px 5px 1px #cfcfcf;
  -webkit-box-shadow: 0px 0px 5px 1px #cfcfcf;
  -o-box-shadow: 0px 0px 5px 1px #cfcfcf;
  box-shadow: 0px 0px 5px 2px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
  margin: 25px auto;
}
/* line 31, ../sass/pages/_team.scss */
.team__column > span {
  font-size: 0.9375rem;
  font-family: "Lato", sans-serif;
  color: #999999;
}
/* line 36, ../sass/pages/_team.scss */
.team__column > p {
  max-width: 15em;
}
/* line 40, ../sass/pages/_team.scss */
.team__divider {
  height: 2px;
  width: 1.25rem;
  background-color: #e6e6e6;
  border: 1px solid transparent;
}

/* line 47, ../sass/pages/_team.scss */
.social__team {
  padding: 1.125rem 0 1.875rem 0;
}

/* line 50, ../sass/pages/_team.scss */
.svg-inline--fa {
  cursor: pointer;
  height: 1.2em;
}
/* line 53, ../sass/pages/_team.scss */
.svg-inline--fa.fa-w-9 {
  width: 1.8em;
}
/* line 56, ../sass/pages/_team.scss */
.svg-inline--fa.fa-w-14 {
  width: 2.4em;
}
/* line 59, ../sass/pages/_team.scss */
.svg-inline--fa.fa-w-16 {
  width: 2.1em;
}
/* line 62, ../sass/pages/_team.scss */
.svg-inline--fa.fa-w-20 {
  width: 2em;
}
/* line 65, ../sass/pages/_team.scss */
.svg-inline--fa:hover {
  color: #f39c12;
}

/* line 2, ../sass/pages/_stats.scss */
.wrapper__stats {
  padding-top: 11.55em;
  padding-bottom: 14.4em;
}

/* line 38, ../sass/helpers/_mixins.scss */
.stats__columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.25em;
  margin-top: 0.25em;
}
/* line 43, ../sass/helpers/_mixins.scss */
.stats__columns__column {
  flex: 1 0 75em;
  margin-left: -0.25em;
  margin-top: -0.25em;
}
/* line 7, ../sass/pages/_stats.scss */
.stats__columns {
  text-align: center;
  color: white;
  font-weight: bold;
}
/* line 12, ../sass/pages/_stats.scss */
.stats__column {
  padding: 0 5.125rem;
}
/* line 16, ../sass/pages/_stats.scss */
.stats__column:hover .icons__circle--large {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 10.3125rem;
  width: 10.3125rem;
  height: 10.3125rem;
  border: 2px #fff;
  border-style: solid;
  background-color: transparent;
}
/* line 18, ../sass/pages/_stats.scss */
.stats__column:hover .icons__circle--large i {
  -webkit-filter: invert(68%) sepia(24%) saturate(2634%) hue-rotate(353deg) brightness(98%) contrast(94%);
  -moz-filter: invert(68%) sepia(24%) saturate(2634%) hue-rotate(353deg) brightness(98%) contrast(94%);
  -ms-filter: invert(68%) sepia(24%) saturate(2634%) hue-rotate(353deg) brightness(98%) contrast(94%);
  -o-filter: invert(68%) sepia(24%) saturate(2634%) hue-rotate(353deg) brightness(98%) contrast(94%);
  filter: invert(68%) sepia(24%) saturate(2634%) hue-rotate(353deg) brightness(98%) contrast(94%);
}
/* line 23, ../sass/pages/_stats.scss */
.stats__column * i {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -moz-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -ms-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -o-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
}
/* line 27, ../sass/pages/_stats.scss */
.stats__count {
  font-size: 2.8125rem;
  line-height: 0.7;
  padding-top: 1.875rem;
}
/* line 32, ../sass/pages/_stats.scss */
.stats__name {
  font-size: 1.5625rem;
}

/* line 2, ../sass/pages/_service.scss */
.wrapper__service {
  padding-top: 6.1em;
  padding-bottom: 6.7em;
}

/* line 38, ../sass/helpers/_mixins.scss */
.service__columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4.5em;
  margin-top: 4.5em;
}
/* line 43, ../sass/helpers/_mixins.scss */
.service__columns__column {
  flex: 1 0 50em;
  margin-left: -4.5em;
  margin-top: -4.5em;
}
@media (min-width: 91em) {
  /* line 43, ../sass/helpers/_mixins.scss */
  .service__columns__column {
    max-width: calc(50% - -4.5em);
  }
}
@media (min-width: 136.5em) {
  /* line 43, ../sass/helpers/_mixins.scss */
  .service__columns__column {
    max-width: calc(33.33333% - -4.5em);
  }
}
@media (min-width: 150em) {
  /* line 43, ../sass/helpers/_mixins.scss */
  .service__columns__column {
    min-width: calc(33.33333% - -4.5em);
  }
}
/* line 8, ../sass/pages/_service.scss */
.service__columns {
  text-align: center;
}
/* line 11, ../sass/pages/_service.scss */
.service__column {
  padding: 0 0.9375rem;
}
/* line 13, ../sass/pages/_service.scss */
.service__column > h4 {
  padding: 1.875rem 0 1.125rem 0;
}
/* line 16, ../sass/pages/_service.scss */
.service__column > p {
  max-width: 23.125rem;
}
/* line 20, ../sass/pages/_service.scss */
.service__column:hover .icons__circle--small {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border: 2px transparent;
  border-style: solid;
  background-color: #f39c12;
}
/* line 22, ../sass/pages/_service.scss */
.service__column:hover .icons__circle--small i {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -moz-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -ms-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  -o-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(107%);
}

/* line 31, ../sass/pages/_service.scss */
.wrapper__pricing {
  padding-top: 5.8em;
  padding-bottom: 5.9375rem;
}

/* line 36, ../sass/pages/_service.scss */
.pricing__description {
  padding-top: 1.125rem;
}
/* line 38, ../sass/pages/_service.scss */
.pricing__description > h4 {
  padding: 1.875rem 0 1.25rem 0;
}

/* line 42, ../sass/pages/_service.scss */
.content__pricing {
  margin-left: 7.1875rem;
}

/* line 47, ../sass/pages/_service.scss */
.pricing__description {
  max-width: 19.375rem;
  margin-left: 3.75rem;
}
/* line 51, ../sass/pages/_service.scss */
.pricing__tables {
  text-align: center;
}
/* line 54, ../sass/pages/_service.scss */
.pricing__item, .pricing__item--basic, .pricing__item--gold, .pricing__item--gold-recommended, .pricing__item--silver {
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}
/* line 57, ../sass/pages/_service.scss */
.pricing__item * li, .pricing__item--basic * li, .pricing__item--gold * li, .pricing__item--gold-recommended * li, .pricing__item--silver * li {
  border-bottom: 1px solid #e6e6e6;
}
/* line 59, ../sass/pages/_service.scss */
.pricing__item * li > span, .pricing__item--basic * li > span, .pricing__item--gold * li > span, .pricing__item--gold-recommended * li > span, .pricing__item--silver * li > span {
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  color: #0d0d0d;
  text-transform: uppercase;
}
/* line 66, ../sass/pages/_service.scss */
.pricing__item * li:not(:first-child):not(:last-child), .pricing__item--basic * li:not(:first-child):not(:last-child), .pricing__item--gold * li:not(:first-child):not(:last-child), .pricing__item--gold-recommended * li:not(:first-child):not(:last-child), .pricing__item--silver * li:not(:first-child):not(:last-child) {
  padding: 11.5px 0;
  font-size: 15px;
}
/* line 71, ../sass/pages/_service.scss */
.pricing__item > ul > li:nth-child(2), .pricing__item--basic > ul > li:nth-child(2), .pricing__item--gold > ul > li:nth-child(2), .pricing__item--gold-recommended > ul > li:nth-child(2), .pricing__item--silver > ul > li:nth-child(2),
.pricing__item li:nth-child(4),
.pricing__item--basic li:nth-child(4),
.pricing__item--gold li:nth-child(4),
.pricing__item--gold-recommended li:nth-child(4),
.pricing__item--silver li:nth-child(4),
.pricing__item li:last-child,
.pricing__item--basic li:last-child,
.pricing__item--gold li:last-child,
.pricing__item--gold-recommended li:last-child,
.pricing__item--silver li:last-child {
  background-color: #fafafa;
}
/* line 76, ../sass/pages/_service.scss */
.pricing__item > ul > :first-child, .pricing__item--basic > ul > :first-child, .pricing__item--gold > ul > :first-child, .pricing__item--gold-recommended > ul > :first-child, .pricing__item--silver > ul > :first-child {
  padding: 21px 0;
}
/* line 79, ../sass/pages/_service.scss */
.pricing__item > ul > :last-child, .pricing__item--basic > ul > :last-child, .pricing__item--gold > ul > :last-child, .pricing__item--gold-recommended > ul > :last-child, .pricing__item--silver > ul > :last-child {
  padding: 33px 54px;
}
/* line 89, ../sass/pages/_service.scss */
.pricing__item--gold-recommended {
  background-color: #f39c12;
  padding-top: 26px;
  margin: 0 -1px;
}
/* line 94, ../sass/pages/_service.scss */
.pricing__item--gold-recommended > ul > li:nth-child(2),
.pricing__item--gold-recommended li:nth-child(4),
.pricing__item--gold-recommended li:last-child {
  background-color: #e6e6e6;
}
/* line 99, ../sass/pages/_service.scss */
.pricing__item--gold-recommended > ul > li:nth-child(3),
.pricing__item--gold-recommended li:nth-child(5) {
  background-color: #f2f2f2;
}
/* line 103, ../sass/pages/_service.scss */
.pricing__item--gold-recommended > * li > span {
  color: #fff;
}
/* line 106, ../sass/pages/_service.scss */
.pricing__item--gold-recommended hr {
  background-color: #fff;
}
/* line 116, ../sass/pages/_service.scss */
.pricing__divider {
  height: 2px;
  width: 3.125rem;
  background-color: #f39c12;
  border: 0px solid transparent;
}

/*---Wrapper references ---*/
/* line 2, ../sass/pages/_references.scss */
.wrapper__references {
  padding-top: 11.35em;
  padding-bottom: 14.75em;
  color: #ffffff;
}

/* line 8, ../sass/pages/_references.scss */
.references__text {
  position: relative;
  text-align: center;
  font-size: 1.375rem;
  font-style: italic;
  max-width: 48.125rem;
  line-height: 1.8rem;
  letter-spacing: -0.2px;
}
/* line 18, ../sass/pages/_references.scss */
.references__author {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
}
/* line 24, ../sass/pages/_references.scss */
.references__divider {
  height: 2px;
  width: 3.0625rem;
  background-color: #f39c12;
  margin: 0.6875rem 0 2rem 0;
  border: 1px solid transparent;
}
/* line 29, ../sass/pages/_references.scss */
.references__picture {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 6.25rem;
  width: 6.25rem;
  height: 6.25rem;
  border: #ffffff 2px;
  border-style: solid;
  background-color: #ffffff;
  margin-top: 1.75rem;
}

/* line 3, ../sass/pages/_portfolio.scss */
.wrapper__portfolio {
  padding-top: 6.1em;
  padding-bottom: 6.1rem;
}

/* line 7, ../sass/pages/_portfolio.scss */
.portfolio__btn, .portfolio__btn-previous, .portfolio__btn-next, .portfolio__btn-close {
  padding: 0.4375rem 0.7188rem;
  color: #000;
  background-color: #fff;
  border: #e6e6e6 2px solid;
  text-decoration: none;
  outline: none;
}
/* line 14, ../sass/pages/_portfolio.scss */
.portfolio__btn:hover, .portfolio__btn-previous:hover, .portfolio__btn-next:hover, .portfolio__btn-close:hover {
  background-color: #e6e6e6;
  color: #f39c12;
}
/* line 28, ../sass/pages/_portfolio.scss */
.portfolio__information {
  margin-top: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
}
/* line 32, ../sass/pages/_portfolio.scss */
.portfolio__information > :nth-child(2) {
  color: #999;
  font-size: 14px;
}
/* line 37, ../sass/pages/_portfolio.scss */
.portfolio__swiper-navigation {
  margin-left: 4.375rem;
}

/* line 43, ../sass/pages/_portfolio.scss */
.wrapper__project {
  padding-top: 6.6em;
  padding-bottom: 6.6875rem;
}

/* line 38, ../sass/helpers/_mixins.scss */
.project__columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.05em;
  margin-top: -0.05em;
}
/* line 43, ../sass/helpers/_mixins.scss */
.project__columns__column {
  flex: 1 0 65em;
  margin-left: 0.05em;
  margin-top: 0.05em;
}
/* line 48, ../sass/pages/_portfolio.scss */
.project__columns {
  margin-top: 4.6875rem;
  max-width: 65.5%;
  text-align: center;
}
/* line 53, ../sass/pages/_portfolio.scss */
.project__column {
  margin-bottom: 1.1rem;
}
/* line 55, ../sass/pages/_portfolio.scss */
.project__column img {
  margin-bottom: 6px;
  height: 13.75rem;
  width: 18.4375rem;
}
/* line 60, ../sass/pages/_portfolio.scss */
.project__column h6 {
  line-height: 1.5rem;
}
/* line 63, ../sass/pages/_portfolio.scss */
.project__column p {
  color: #8c8c8c;
  font-size: 14px;
}
/* line 68, ../sass/pages/_portfolio.scss */
.project__toolbar {
  margin-left: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
/* line 73, ../sass/pages/_portfolio.scss */
.project__toolbar > span {
  padding: 0 1.15rem;
  color: #a6a6a6;
}
/* line 78, ../sass/pages/_portfolio.scss */
.project__item {
  color: #0d0d0d;
}
/* line 80, ../sass/pages/_portfolio.scss */
.project__item:hover {
  color: #f39c12;
}

/*# sourceMappingURL=app.css.map */
