.btn--animated {
  @include btn-border-drawing($transparent, $orange, 2px, bottom, left);
  @include transition(compact(all 1s ease 0s));
}
.btn {
  @include btn(0.75em 2.4em, 14px, $white, $orange);
  border: solid 1px $orange;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  &:hover {
    color: $orange;
    background-color: $transparent;
    border: solid 1px $orange;
  }

  &__medium {
    @include btn(0.7em 2.4em, 13px, $black, $transparent);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border: solid 2px $orange;
    &:hover {
      color: $white;
      background-color: $orange;
    }
  }
  &__small {
    @include btn(0.4em 1.8em, 12px, $black, $transparent);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border: solid 2px $orange;
    &:hover {
      color: $white;
      background-color: $orange;
    }
  }
}
