.swiper-pagination-white > .swiper-pagination-bullet {
  background-color: #fff;
}

.main__swiper-container {
  @extend %fullsize;
  & > .swiper-pagination-bullets {
    bottom: 1rem;
    left: 2.1rem;
    & .swiper-pagination-bullet {
      margin: 0 2px;
      width: 12px;
      height: 12px;
    }
  }
}

.references__swiper-container {
  @extend %fullsize; 
  & > .swiper-pagination-bullets {
    bottom: 3.875rem;
    left: 2rem;
    & .swiper-pagination-bullet {
      margin: 0 2px;
      width: 11px;
      height: 11px;
    }
  }
}