.logo-mini {
  /*--- circle($size, $border, $color) ---*/
  @include circle(9.0625rem, 2px #ffffff, $transparent);
  font-size: 2.8125rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  &:hover {
    @include circle(9.0625rem, 2px $black, $transparent);
    @include transition-duration(0.7s);
    color: $black;
  }
}
