// Navbar
.navbar {
  // responsiv test
  height: 150px;
  top: 85px;
  //--------------

  position: fixed;
  z-index: 999;
  width: 100%;
  color: $light-theme-color;
  line-height: 0.1rem;
  -webkit-transition: height 0.5s, line-height 0.5s;
  /* Safari */
  transition: height 0.5s, line-height 0.5s;
  //--Navbar__Items
  &__items {
    //responsiv test
    display: none;
    //------------

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    //-- Navbar-divider '\\'
    & > span {
      padding: 0 2.25rem;
    }
  }

  //--Navbar__link
  &__link {
    @include transition-duration(0.7s);
    letter-spacing: -1px;
    //--Navbar__Link-logo
    &-logo {
      padding-left: 4.0625rem;
    }
    //--navbar__link--is-active
    &--is-active {
      color: $black;
    }
    &:hover {
      @extend .navbar__link--is-active;
    }
  }
  //--Navbar__menu
  &__menu {
    //responsiv test
    width: 95%;
    //--------------

    height: inherit;
    position: relative;
    margin-left: 2.5rem;
    // Style of title navbar
    &--title {
      //responsiv test
      font-size: 16px;
      //-----------

      @include transition(all 0.6s ease-in-out);
    }

    &--side-right {
      //responsiv test
      right: 1rem;
      //-------------
      position: absolute;
    }
    // Add background of navigation bar on first scroll
    &-background {
      top: 0;
      background: $theme-color;
      box-shadow: 0 0 2px $theme-color;
      opacity: 0.95;
      @include transition(all 0.5s ease-in-out);
    }
    // Reduce navigation bar on scroll
    &-scrolled {
      // responsiv test
      padding-left: 0;

      // add on test
      margin-top: 0;
      //

      //------------

      position: fixed;
      height: 60px !important;
      line-height: 0.1rem !important;

      .logo-mini {
        line-height: 0.1rem;
        width: 3.0625rem;
        height: 3.0625rem;
        font-size: 1rem;
      }
      & h1 {
        font-size: 16px;
      }
    }
  }
}
