//Progress Bar
.about__progressbar {
  & > li:not(:last-child) {
    padding-bottom: 2.6em;
  }
}

.progressbar {
  width: 100%;
  height: 0.625em;
  background: $grey-divider;
  overflow: hidden;

  & div {
    height: 0.625em;
    width: 0;
    background: $orange;
  }
}