section {
  background-color: $white;
  position: relative;
}

.section {
  @each $section-large in $sections-large {
    &__#{$section-large} {
      &:before {
        @include angledEdge-bottom-UpperLeft;
      }
    }
  }

  @each $section-small in $sections-small {
    &__#{$section-small} {
      &:before {
        @include angledEdge-top-LowerRight;
      }
    }
  }

  &__quote {
    padding-left: 3em;
    margin-bottom: 1px;
    background: url(../img/bg__section-01.jpg) center top fixed;
    @include background-size(cover);
  }
  &__stats {
    padding-left: 4.0625rem;
    margin-bottom: 1px;
    background: url(../img/bg__section-02.jpg) center top fixed;
    @include background-size(cover);
  }
  &__references {
    padding-left: 4.0625rem;
    margin-bottom: 1px;
    background: url(../img/bg__section-03.jpg) center top fixed;
    @include background-size(cover);
    overflow: hidden;
  }
}
/*---Divider---*/
.divider {
  margin-left: 4.375rem;
  &--grey {
    background-color: $grey-divider;
    height: 2px;
    width: 73.125rem;
    border: none;
  }
}
.cb {
  @include column-break(after, column);
  opacity: 0;
}
