/*---Wrapper About ---*/
.wrapper__about {
  &--part1 {
    @include wrapper(6em, 6.8em);
  }
  &--part2 {
    @include wrapper(7em, 6.75em);
  }
}

/*---Content About---*/
.content__about--inner {
  margin-left: 4.1875rem;

  &-right {
    width: 45%;
    margin-left: 4.0625rem;
  }

  &-left {
    width: 44.5%;
  }
  & h4 {
    padding-bottom: 1.125rem;
  }
}

.about {
  &__text {
    max-width: 31.5625rem;
    padding-right: 3.75rem;

    &--skills {
      max-width: 24.375rem;
    }

    & > p {
      &:nth-child(2) {
        line-height: 1.8125rem;
        font-weight: 300;
        font-size: 1.25rem;
        color: $red;
      }

      &:nth-last-child(1) {
        padding-top: 1.8125rem;

        & > span {
          font-size: 0.9375rem;
        }
      }
    }
  }

  &__picture {
    width: 28.125rem;
    height: 15.9375rem;

    &--devices {
      width: 31.0625rem;
      height: 30.25rem;
      padding-right: 5.9375rem;
    }
  }

  //Progress Bar width
  &__progressbar {
    margin-top: 4em;
    width: 34.6875rem;
  }
}

//Progress Bar
.progressbar {
  &__design {
    @include progressPercentage(88%, 2.6em);
  }

  &__developement {
    @include progressPercentage(76%, 2.6em);
  }

  &__wordpress {
    @include progressPercentage(81%, 2.6em);
  }

  &__drupal {
    @include progressPercentage(71%, 0);
  }
}

h5 span {
  font-weight: 400;
}
