// /*---Wrapper---*/
.wrapper__footer {
    @include wrapper(2em, 2em);
  }
  

  .footer__copyright{
    font-size: 14.5px;
    text-transform: uppercase;
    width: 50%;
    justify-content: flex-end;
    display: flex;
  }

  .footer__social {
    width: 50%;
    display: flex;
    justify-content: center;
    & a {
      padding: 0 10px;
    }
  }