.main {
  padding: 14.3125rem 0 17rem 0;
  margin-bottom: 1px;
  color: $white;
  text-transform: uppercase;
  &__swiper-container {
    height: 100%;
    width: 100%;
    background: center top fixed;
    @include background-size(cover);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
/*---Wrapper---*/
.wrapper {
  &__main {
    position: relative;
    z-index: 5;
    padding-left: 4.0625rem;
  }
}

/*---Content---*/
.content {
  /*Content__Hero*/
  &__hero {
    padding-top: 11.875rem;

    /* Hero__Content--inner */
    &--inner {
      & > p {
        padding-left: 0;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.1875rem;
        letter-spacing: -4px;
      }
    }
  }
}
.page__content {
  overflow: hidden;
}