// Wrapper Service
.wrapper__service {
  @include wrapper(6.1em, 6.7em);
}
.service {
  @include n-columns(50em, -4.5em, true, 3);
  
  &__columns {
    text-align: center;
  }
  &__column {
    padding: 0 0.9375rem;
    & > h4 {
      padding: 1.875rem 0 1.125rem 0;
    }
    & > p {
      max-width: 23.125rem;
    }
    &:hover {
      .icons__circle--small {
        @include circle(100px, 2px $transparent, $orange);
        & i {
          @include filter(100%, 100%, 0%, 35deg, 104%, 107%);
        }
      }
    }
  }
}
