// Wrapper Service
.wrapper__service {
  @include wrapper(6.1em, 6.7em);
}
.service {
  @include n-columns(50em, -4.5em, true, 3);
  
  &__columns {
    text-align: center;
  }
  &__column {
    padding: 0 0.9375rem;
    & > h4 {
      padding: 1.875rem 0 1.125rem 0;
    }
    & > p {
      max-width: 23.125rem;
    }
    &:hover {
      .icons__circle--small {
        @include circle(100px, 2px $transparent, $orange);
        & i {
          @include filter(100%, 100%, 0%, 35deg, 104%, 107%);
        }
      }
    }
  }
}

// Wrapper Pricing
.wrapper__pricing {
  @include wrapper(5.8em, 5.9375rem);
}

// Pricing
.pricing__description {
  padding-top: 1.125rem;
  & > h4 {
    padding: 1.875rem 0 1.25rem 0;
  }
}
.content__pricing {
  margin-left: 7.1875rem;
}
// Tables
.pricing {
  &__description {
    max-width: 19.375rem;
    margin-left: 3.75rem;
  }
  &__tables {
    text-align: center;
  }
  &__item {
    margin-top: 15px;
    border: 1px solid $grey-divider;
    & * li {
      border-bottom: 1px solid $grey-divider;
      & > span {
        font-weight: 700;
        font-size: 22px;
        line-height: 0px;
        color: $black;
        text-transform: uppercase;
      }
      &:not(:first-child):not(:last-child) {
        padding: 11.5px 0;
        font-size: 15px;
      }
    }
    & > ul > li:nth-child(2),
    li:nth-child(4),
    li:last-child {
      background-color: #fafafa;
    }
    & > ul > :first-child {
      padding: 21px 0;
    }
    & > ul > :last-child {
      padding: 33px 54px;
    }
    //--Price Basic
    &--basic {
      @extend .pricing__item;
    }
    //--Price Gold
    &--gold {
      @extend .pricing__item;
      &-recommended {
        @extend .pricing__item;
        background-color: $orange;
        padding-top: 26px;
        margin: 0 -1px;
        & > ul > li:nth-child(2),
        li:nth-child(4),
        li:last-child {
          background-color: $grey-divider;
        }
        & > ul > li:nth-child(3),
        li:nth-child(5) {
          background-color: #f2f2f2;
        }
        & > * li > span {
          color: #fff;
        }
        & hr {
          background-color: #fff;
        }
      }
    }
    // Price Silver
    &--silver {
      @extend .pricing__item;
    }
  }
  &__divider {
    @include divider(2px, 3.125rem, $orange);
    border: 0px solid rgba(0, 0, 0, 0);
  }
}