// Wrapper Stats
.wrapper__stats {
  @include wrapper(11.55em, 14.4em);
}
.stats {
  @include n-columns(75em, -0.25em, false, 4);
  &__columns {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  &__column {
    padding: 0 5.125rem;

    &:hover {
      .icons__circle--large {
        @include circle(10.3125rem, 2px #fff, $transparent);
        & i {
          @include filter(68%, 24%, 2634%, 353deg, 98%, 94%);
        }
      }
    }
    & * i {
      @include filter(100%, 100%, 0%, 35deg, 104%, 107%);
    }
  }
  &__count {
    font-size: 2.8125rem;
    line-height: 0.7;
    padding-top: 1.875rem;
  }
  &__name {
    font-size: 1.5625rem;
  }
}
