// Margin
$margin-large: 4.1em;
$margin-base: 2.75em;
$margin-small: 2.1em;

//  Colors
$black: #0d0d0d;
$grey: #737373;
$grey-divider: #e6e6e6;
$white: #ffffff;
$orange: #f39c12;
$red: #e74c3c;
$transparent: rgba(0, 0, 0, 0);

// Colors for iPhone 8 & iPad Pro
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #fff;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 20%);
$device-gold-panel: #fff;
$device-spacegray: #9b9ba0;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #222;
// Colors for iPad Pro
$device-rosegold: #facfc9;
$device-rosegold-dark: darken($device-rosegold, 10%);
$device-rosegold-panel: #fff;

// Parameters for angledEdge
$sections-large: about, team, service;
$sections-small: quote, stats, references;
