// Navbar
.navbar {
  @extend %centerer;
}
// Wrapper
.wrapper {
  @extend %centerer;

  &__quote {
    @extend %column;
  }
  &__pricing {
    display: flex;
    justify-content: center;
  }
}
// Content
.content {
  @extend %centerer;
  //---Hero--inner
  &__hero--inner {
    @extend %centerer;
    @extend %column;
  }
  //---About--inner
  &__about--inner {
    display: flex;
    justify-content: center;
    //---About--inner-right
    &-right {
      display: flex;
      @extend %wrap;
    }
    &-left {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
// Divider
.divider {
  @extend %centerer;
}
// Title
.title {
  @extend %centerer;
  & > h2 {
    @extend %centerer-right;
  }
}
// Icon
.icon {
  @extend %centerer;
}
// Quote
.quote {
  &__text {
    position: relative;
  }
}
// Team
.social__team--icons {
  display: flex;
}
// Pricing
.pricing__tables {
  @extend %centerer-right;
}
