// Wrapper
.wrapper {
  @extend %centerer;

  &__quote {
    @extend %column;
  }
  &__pricing {
    @extend %center;
    @extend %wrap;
  }
  &__news {
    @extend %column;
  }
}
// Content
.content {
  @extend %centerer;
  //---Hero--inner
  &__hero--inner {
    @extend %centerer;
    @extend %column;
  }
  //---About--inner
  &__about--inner {
    @extend %center;
    @extend %wrap;
    //---About--inner-right
    &-right {
      @extend %flex;
      @extend %wrap;
      @extend %justify-content-center;
    }
    &-left {
      @extend %center;
      @extend %align-items-end;
    }
  }
  &__gallery {
    @extend %centerer;
    @extend %column;
  }
  &__news {
    @extend %centerer;
    @extend %column;
    &--icon {
      @extend %center;
    }
  }
  &__blog {
    @extend %flex;
    @extend %wrap;
    @extend %justify-content-center;
  }
}

// Team
.team__columns {
  @extend %center;
}
.social__team--icons {
  @extend %centerer;
}
// Stats
.stats__columns {
  @extend %center;
}
.stats__count--minify {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Service
.service__column {
  @extend %centerer;
  @extend %column;
}

// Pricing
.pricing {
  &__tables {
    @extend %centerer;
    @extend %wrap;
  }
  &__item > ul > :last-child {
    @extend %centerer;
  }
}
// Portfolio
.portfolio__swiper {
  &-pagination {
    @extend %flex;
    @extend %justify-content-start;
    @extend %align-items-end;
    @extend %column;
  }
  &-navigation {
    @extend %centerer;
    @extend %column;
  }
}

// Gallery
.gallery__columns {
  @extend %justify-content-end;
}
.gallery__overlay {
  &--image {
    @extend %centerer;
  }
  &--zoom-circle {
    @extend %centerer;
  }
}

// Blog
.blog__thumbnail {
  @extend %flex;
  @extend %column;
  & span {
    @extend %centerer;
  }
  &--text {
    @extend %flex;
  }
}

// Navbar
.navbar {
  @extend %centerer;
  &__menu {
    @extend %flex;
    @extend %justify-content-space-between;
    @extend %align-items-center;
  }
}
// Carousel
.swiper-slide {
  @extend %centerer;
  @extend %column;
}
// Divider
.divider {
  @extend %centerer;
}
// Title
.title {
  @extend %centerer;
  & > h3 {
    @extend %centerer-right;
  }
}
// Icon
.icon {
  @extend %centerer;
}
