/*---------------------------ON PHONE-----------------------------*/
body {
  @include media(phone) {
    font-size: 0.85rem;
  }
}
h1 {
  @include media(phone) {
    font-size: 1.8rem;
  }
}
h2 {
  @include media(phone) {
    font-size: 1.4rem;
  }
}
p {
  @include media(phone) {
    max-width: 85vw;
  }
}
.title {
  @include media(phone) {
    max-width: 95vw;
    flex-direction: column;
    align-items: flex-start;
    & > h3 {
      padding-right: 0;
      min-width: 0;
      margin-left: 1rem;
      border-bottom: 4px solid #f39c12;
      border-right: none;
    }
  }
}
.divider {
  @include media(phone) {
    margin-left: 0;
  }
}

 //NAVBAR
.navbar {
  @include media(phone) {
    height: 60px !important;
    top: 0;
  }
}

.logo-mini {
  @include media(phone) {
    width: 3.0625rem;
    height: 3.0625rem;
    font-size: 1rem;

    &:hover {
      color: $black;
      line-height: 0.1rem;
      width: 3.0625rem;
      height: 3.0625rem;
      font-size: 1rem;
    }
  }
}

// MAIN
.main {
  @include media(phone) {
    padding: 12rem 0;
  }
}
.wrapper__main {
  @include media(phone) {
    padding-left: 0;
  }
}
.content__hero {
  @include media(phone) {
    padding-top: 0;
    &--inner > p {
      padding-left: 0;
      font-weight: 700;
      font-size: 1rem;
      line-height: 3.1875rem;
      letter-spacing: -1px;
    }
  }
}
.main__swiper-container > .swiper-pagination-bullets {
  @include media(phone) {
    left: 0;
  }
}

// ABOUT

.about__text {
  @include media(phone) {
    max-width: 27.5625rem;
    padding-right: 0;
  }
}
.icons__about {
  @include media(phone) {
    margin-right: 0;
    padding-bottom: 0.5rem;
    width: 90%;
  }
}

.content__about--inner {
  @include media(phone) {
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: center;
  }
}
.content__about--inner-left {
  @include media(phone) {
    display: none;
  }
}
.content__about--inner-right {
  @include media(phone) {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    & > ul {
      width: 90%;
    }
  }
}
// TEAM
.team__columns {
  @include media(phone) {
    margin-left: 0;
  }
}

// STATS
.section__stats {
  @include media(phone) {
    padding-left: 0;
  }
}
.stats__column {
  @include media(phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
.icons__circle--large {
  @include media(phone) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
// SERVICES
.service__columns {
  @include media(phone) {
    margin: 0;
  }
}

// PRICING
.content__pricing {
  @include media(phone) {
    margin-left: 0;
  }
}
.pricing__description {
  @include media(phone) {
    margin-left: 1.75rem;
  }
}
.pricing__item {
  @include media(phone) {
    width: 100%;
  }
}

.pricing__tables > ul {
  @include media(phone) {
    margin: 10px;
  }
}

// REFERENCE
.section__references {
  @include media(phone) {
    padding-left: 0;
  }
}

.references__swiper-container > .swiper-pagination-bullets {
  @include media(phone) {
    left: 0;
    bottom: 8rem;
  }
}

// QUOTE
.section__quote {
  @include media(phone) {
    padding-left: 0;
  }
}
.quote__text {
  @include media(phone) {
    font-size: 1.5rem;
    max-width: 21rem;
    &:before,
    &:after {
      font-size: 3.875rem;
    }
    &::before {
      top: 0rem;
      left: 0.3rem;
    }
    &::after {
      top: 0rem;
      right: 0.3rem;
    }
  }
}
.quote__author {
  @include media(phone) {
    font-size: 1rem;
  }
}

// PORTFOLIO
.content__portfolio {
  @include media(phone) {
    width: 100vw;
  }
}

.portfolio__swiper-navigation {
  @include media(phone) {
    margin-left: 0;
  }
}

.portfolio__swiper-slide.swiper-slide.swiper-slide-active {
  @include media(phone) {
    height: 18rem;
    width: 30rem;
  }
}
.portfolio__swiper-container {
  @include media(phone) {
    margin: 0;
  }
}

// GALLERY
.gallery__columns {
  @include media(phone) {
    justify-content: center;
  }
}
.gallery__toolbar {
  @include media(phone) {
    font-size: 0.7rem;
    margin-left: 1rem;
    max-width: 90vw;
    & > span {
      padding: 0 0.35rem;
    }
  }
}

// Contact
.contact__info {
  @include media(phone) {
    width: 85vw;
  }
}
.contact__form {
  @include media(phone) {
    width: 80vw;
  }
  & input {
    @include media(phone) {
      width: 65vw;
    }
  }
}

.footer__copyright {
  @include media(phone) {
    font-size: 9px;
  }
}

/*-------------------Tablet-xl------------------------------*/
// button burger menu on phone
.burgermenu__btn--open {
  @include media(tablet-xl) {
    display: none;
  }
}

//NAVBAR
.navbar {
  &__items {
    @include media(tablet-xl) {
      display: flex;
    }
  }
  //navbar menu
  &__menu {
    @include media(tablet-xl) {
      width: 96%;
      margin-left: 0;
      &-scrolled {
        padding-left: 0;
      }
    }
    &--title {
      @include media(tablet-xl) {
        font-size: 40px;
      }
    }
    &-scrolled {
      @include media(tablet-xl) {
        padding-left: 50px;
      }
    }
  }
}


/*-------------------------------Desktop----------------------------*/
.navbar__menu {
  @include media(desktop) {
    width: 60%;
    margin-left: 65px;
  }
}

/*------------------------------ON PORTABLE--------------------------*/


h1 {
  @include media(portable) {
  
  font-size: 2.8125rem;

  }
}
h2 {
  @include media(portable) {
    font-size: 2.5rem;
  }
}
.content__hero {
  @include media(portable) {
    &--inner > p {
      padding-left: 1.875rem;
      font-size: 4.375rem;
    }
  }
}
.content__about--inner-right {
  @include media(portable) {
    width: 45%;
    margin-left: 4.0625rem;
    justify-content: flex-start;
  }
}

.content__about--inner-left {
  @include media(portable) {
    display: flex;
  }
}

.content__about--inner {
  @include media(portable) {
    margin-left: 4.1875rem;
  }
}
.section {
  &__client {
    @include media(portable) {
      padding-left: 4.0625rem;
    }
  }
  &__news {
    @include media(portable) {
      padding-left: 4.0625rem;
    }
  }
}
.content__client {
  @include media(portable) {
    flex-direction: column;
  }
}
.content__contact {
  @include media(portable) {
    flex-direction: row;
    padding-left: 55px;
  }
}

.contact {
  &__form input {
    @include media(portable) {
      width: 29.5vw;
    }
  }
  &__info {
    @include media(portable) {
      width: 24.5vw;
    }
  }
}

.content__footer {
  @include media(portable) {
    padding-left: 65px;
  }
}
